@import url('https://fonts.googleapis.com/css2?&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6{
    font-family: 'Maven Pro', sans-serif;
}
h1{
    font-size: 32px;
    font-weight: 600;
}
h2{
    font-size: 28px;
    font-weight: 600;
}
h3{
    font-size: 24px;
    font-weight: 600;
}
h4{
    font-size: 20px;
    font-weight: 700;
}
h5{
    font-size: 16px;
    font-weight: 700;
}
h6{
    font-size: 14px;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.display-inline{
    display: inline-block;
}
.display-none{
    display: none;
}
.position-relative-custom{
    position: relative;
    z-index: 1;
}

.cursor-point{
    cursor: pointer;
}
.container-fluid{
    margin: 0 5%;
}
.font-large{
    font-size: 28px;
}
.font-10{
    font-size: 10px;
}
#top-header {
    padding: 15px 100px;
}
#top-header a{
    width: 22%;
}
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}
.ml-1{
    margin-left: 10px;
}
.ml-2{
    margin-left: 20px;
}
.ml-3{
    margin-left: 30px;
}
.ml-4{
    margin-left: 40px;
}
.ml-5{
    margin-left: 50px;
}
.p-10{
    padding:50px 100px;
}
.pl-2{
    padding-left: 20px;
}
.f-24{
    font-size: 24px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f1f1f1;
    border-color: #dee2e6 #dee2e6 #f1f1f1;
}



.fa-angle-right, .fa-angle-left{
    font-weight: 900 !important;
}

/******** Preloader ******/
#preloader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader .pre-box{
    width: 150px;
    height: 150px;
    background: #3CB0DC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
  }
#preloader .pre-box-container{
    height: 15px;
    width: 105px;
    display: flex;
    position: relative;
}
  
#preloader .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
}
#preloader .circle:first-child{
    position: absolute;
    top:0;
    left:0;
    animation: grow 500ms linear 0ms infinite;
}
#preloader .circle:last-child{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    animation: grow 500ms linear 0s infinite reverse;
}

  @keyframes grow {
    from {transform: scale(0,0); opacity: 0;}
    to {transform: scale(1,1); opacity: 1;}
  }
  
  @keyframes move {
    from {transform: translateX(0px)}
    to {transform: translateX(45px)}
  }
  gin: 0 auto;
}

.graph-section .graph-content .graph-box {
  position: relative;
}

.graph-section .graph-content .graph-box::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  line-height: 45px;
  background: rgba(29, 33, 36, 0.25);
  overflow: hidden;
}

.graph-section .graph-content .graph-box figure {
  margin-bottom: 0;
}
.get-range-value {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.type-input {
  width: 100px;
  background: #99cde2;
  border: none;
  padding: 5px 17px;
  font-size: 20px;
  color: #fff;
}

.type-span{
    font-family: 'Roboto';
    position: absolute;
    z-index: 11;
    right: 5px;
    font-size: 22px;
    color: #fff;
    top: 3px;
}

.type-range {
  margin-top: 35px;
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#3cafdc, #3cafdc);
  background-repeat: no-repeat;
}
.type-range:hover,.type-range:focus, .type-input:hover, .type-input:focus  {
  outline: none;
  border: none;
}
.type-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
.type-range::-moz-range-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

.type-range::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dynamic-field span {
  font-size: 18px;
  font-weight: 700;
}