:root{
    --primary:#369fd9;
    --greyBlue: #777b92;
    --lightBg: #ddf4ff;
    --white: #fff;
    --firstTitle: #0b5148;
    --secondTitle:#4f3355;
    --thirdTitle:#133780;
    --firstBorder: #38a9dd;
    --secondBorder: #fb8700;
    --secondBg: #ffd5a4;
    --tertiary:#e4ffef;
    --greend:#57ba67;
    --primaryText: #212529;
}
@import url(../../css/font-awesome.min.css);
.btn.btn-form {
    padding: 14px 60px;
    border-radius: 5px;
}

#social-link .fa{
    font-size: 26px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}

.btn {
    -moz-user-select: none;
    background: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 15px 40px;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
}
.btn:hover,.btn:active {
    background: transparent;
    color: var(--primary);
}
.btn-white{
    color: #fff;
    border-color: #fff;
}
.btn-white:hover{
    color: var(--primary);
    background: #fff;
    border-color:var(--primary);
}
#breadcrumbs a{
    color: var(--primary);
}
#breadcrumbs span::after {
    content: ">";
    margin: 0 10px;
}
#breadcrumbs span:last-child:after {
    content: none;
}

/**** Navbar ****/
.navbar{
    position: relative;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    background: #fff;
}

.nav-link {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    text-transform: uppercase;
}
.fixed-top .navbar-brand img{
    filter: none;
    width: 250px;
}
.fixed-top .nav-link {
    color: var(--primary);
}
.navbar-brand{
    display: block;
}
.navbar.fixed-top{
    position: fixed;
    background: #ffffff;
    box-shadow: 0 -13px 34px rgb(0 0 0 / 67%);
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.navbar,.navbar-brand{
  padding: 0;  
}
#homepage{
    background: url('../../frontend/imgs/feature-bg-1.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80vw;
}
/**** Banner ****/
.slider-btn{
    background: transparent;
}
.slider-height-2 {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 45px 0 115px;
    z-index: 1;
}
#home::before {
    content: "";
    background: linear-gradient(32deg, #3f9fcf 25%, #52be95 85%);
    position: absolute;
    width: 125%;
    height: 100%;
    z-index: -1;
    transform: rotate(-10deg) translate(-120px, -16em);
}
.slider-text.slider-text-2.slider-content-space-2 {
    margin-top: 85px;
}
.slider-text.slider-content-space-2>span {
    margin-bottom: 2px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.slider-text.slider-text-2 h2 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 17px;
    line-height: 1.4;
}
.slider-text.slider-text-2 a {
    margin-right: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.slider-text.slider-content-space-2>p {
    margin-bottom: 45px;
}
.slider-img-2 {
    margin-top: 130px;
}
/******* Features ****/

.single-service {
    padding: 40px 30px 10px;
    background:linear-gradient(328deg, #efef, #e2f5ff);
    min-height: 18em;
    border-radius: 15px;
    box-shadow: 10px 10px 45px rgb(0 0 0 / 15%);
    display: grid;
    align-items: center;
}

.service-text.service-text-2 p {
    line-height: 1.6;
}
/***** Features *****/
.features-text ul li {
    margin-bottom: 20px;
    color: var(--greyBlue);
    display: block;
    padding-left: 55px;
    color: #333333;
    position: relative;
}

.features-text ul li:nth-child(1)::before {
    background: #369fd9;
}
.features-text ul li:nth-child(2)::before {
    background: #38b567;
}
.features-text ul li:nth-child(3)::before {
    background: #f7a04e;
}
.features-text ul li::before {
    color: #fff;
    font-size: 15px;
    left: 0px;
    position: absolute;
    top: 2%;
    transition: all 0.75s ease 0s;
    font-family: "FontAwesome";
    content: "\f00c";
    display: inline-block;
    font-weight: 700;
    line-height: 29px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}


/****** testimomnial Section ******/
.dark-shape-area{
    background: var(--lightBg);
}
.section-titles.service-titles-heading {
    overflow: hidden;
}
.section-titles>span {
    margin-bottom: 13px;
}
.section-titles>span {
    font-weight: 700;
    font-size: 15px;
    color: var(--primary);
    font-family: 'Nunito', sans-serif;
    margin-bottom: 7px;
    display: inline-block;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.service-titles-heading-2 h2 {
    color: #222 !important;
}
.activ-testimonai{
    display: none;
}
.activ-testimonai.test-arrow button.slick-prev {
    right: 80px;
}

.activ-testimonai.test-arrow button {
    color: #888;
}
.activ-testimonai button.slick-prev {
    right: 80px;
}
.activ-testimonai button {
    position: absolute;
    border: none;
    width: 62px;
    height: 62px;
    right: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    top: -120px;
    transition: .3s;
    background: transparent;
    cursor: pointer;
}
.testimonail-body {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 46px 0px rgb(0 0 0 / 7%);
    padding: 44px;
    margin-bottom: 50px;
}
.testimoinal-img {
    float: left;
    overflow: hidden;
    margin-right: 18px;
    display: inline-block;
}
.autor-mata {
    padding-top: 7px;
    position: relative;
}
.slick-slide img {
    display: block;
}
.autor-mata h3 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}
.autor-mata span {
    font-size: 16px;
    color: #555555;
    font-weight: 600;
    display: inline-block;
}
.autor-mata i {
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 21px;
    color: var(--primary);
}
/***** Subscription Plan ****/
.subscription-plan{
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    background: #fff;
    padding: 0;
    margin:10px;
    box-shadow: 10px 10px 40px #e1e1e1;
}
.subs-head {
    border-radius: 10px 10px 0px 0px;
    padding: 15px 0px;
    color: #fff;
}
.subscription-plan:nth-child(3n+3)  .subs-head, .subscription-plan:nth-child(3n+3) .subs-button .btn {
    background: linear-gradient(45deg, #12a7b8, #3d8ecc);
}
.subscription-plan:nth-child(3n+2) .subs-head, .subscription-plan:nth-child(3n+2) .subs-button .btn{
    background: linear-gradient(45deg, #51be98, #1ba2bc);
}
.subscription-plan:nth-child(3n+1) .subs-head, .subscription-plan:nth-child(3n+1) .subs-button .btn {
    background: linear-gradient(45deg, #3d8ecc, #5071b5);
}
.subs-title{
    font-size: 28px;
    padding: 0 35px;
}
.subs-price {
    font-size: 34px;
    font-weight: 700;
    padding: 18px 0;
}
.subs-price sup, .subs-price span{
    font-size: 18px;
    font-weight: 400;
    padding: 18px 0;
}
ul.subs-li {
    margin: 0 20px;
    padding: 0;
}
.subs-li li {
    border-top: 1px solid #e1e1e1;
    padding: 6px;
}
.subs-li li:last-child {
    border-bottom: 1px solid #e1e1e1;
}
.subs-button {
    padding: 35px 0;
}
.subs-button .btn{
    padding: 10px 60px;
    background: linear-gradient(45deg, #14a5b8, #3b90cb);
    border: 1px solid var(--primary);
}
.subscription-plan:nth-child(3n+1) .subs-button .btn:hover, .subscription-plan:nth-child(3n+3) .subs-button .btn:hover, .subscription-plan:nth-child(3n+2) .subs-button .btn:hover{
    color: var(--primary);
    background: transparent;
    border: 1px solid var(--primary);
}

.offer-area{
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    left: -6px;
    top: -6px;
}
.subs-offer{
    background: red;
    position: absolute;
    width: 130px;
    transform: rotate(-45deg) translate(-38px, -10px);
    color: #fff;
    box-shadow: 0px 0px 10px 0px #0000008a;
    z-index: 1;
}
.offer-area::after,.offer-area::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #8c0000;
    position: absolute;
    transform: translate(19px, -4px);
    z-index: 0;
}
.offer-area::after {
    bottom: 17px;
    left: -23px;
}
/***** APP SECTION *****/
.single-service-right {
    padding-top: 195px;
    margin-left: 136px;
}

.section-titles>span {
    font-weight: 700;
    font-size: 15px;
    color: var(--primary);
    font-family: 'Nunito', sans-serif;
    margin-bottom: 7px;
    display: inline-block;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.authour-down-img {
    margin-bottom: 17px;
}
.get-app {
    margin-top: 40px;
}
.get-app a {
    display: inline-block;
    line-height: 1;
    padding: 16px 22px;
    border: 1px solid #ebebeb;
    margin-right: 20px;
    height: 85px;
    width: 209px;
    border-radius: 5px;
}
.get-app a i {
    float: left;
    font-size: 40px;
    top: 1px;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    color: var(--greyBlue);
}
.get-app a p {
    display: inline-block;
    margin: 0;
    line-height: 1.4;
    float: left;
    text-align: left;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding-left: 12px;
    color: var(--greyBlue);
    font-size: 14px;
    padding: 3px 11px;
    font-weight:400;
}
.get-app a p > span {
    color: var(--greyBlue);
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: .3s;
}
.get-app a:hover{
    background: var(--primary);
}
.get-app a:hover p,.get-app a:hover i,.get-app a:hover span{
    color: #fff;
}
button.slick-arrow:hover {
    background: #fff;
}
button.slick-arrow:hover i{
    color: var(--primary);
}
/**** FOOTER ****/
footer{
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
}
footer .navbar-brand{
    filter:brightness(0) invert(1);
    margin-top: -10px;
} 
.footer-area-2::before {
    content: "";
    background: linear-gradient(135deg, #3f9fcf,#3f9fcf , #52be95 120%);
    position: absolute;
    width: 150%;
    height: 100%;
    z-index: -1;
    transform: rotate(-10deg) translate(-151px, 14em);
  }
.news-latter-area {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 46px 0px rgb(0 0 0 / 7%);
    padding-left: 60px;
}
.cta-area-title {
    padding-top: 75px;
}
.cta-area-title h2 {
    color: #222222;
    margin: 0;
    font-size: 48px;
    font-weight: 600;
}
.cta-form {
    padding-bottom: 86px;
}
.cta-form input {
    width: 100%;
    height: 54px;
    background: #fff;
    padding: 0px 34px;
    border: 1px solid #eaeaea;
    font-size: 16px;
    text-transform: capitalize;
    color: #30323d;
    border-radius: 5px;
}
.newsletter{
    margin-top: 105px;
}
.footer-widget-2 {
    padding-top: 130px;
}
.footer-widget h3 {
    font-weight: 600;
    font-size: 24px;
    color: #ffff;
    margin-bottom: 20px;
}
.footer-widget ul li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.footer-widget ul li a,  .copyright p a, .copyright p {
    color: #fff;
    text-decoration: none;
}
.footer-widget address {
    color: #fff;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.disclaimer{
    color: #fff;
    text-align: justify;
    border-top: 1px solid #fff;
    padding: 20px 0;
}

.section-titles>span {
    margin-bottom: 13px;
}
#social-link{
    display: flex;
}
#social-link li{
    margin: 0 10px 0 0;
}
#social-link .fa {
    font-size: 20px;
    background: #fff;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    width: 45px;
    text-align: center;
    color: var(--primary);
    transition: 0.5s all ease;
}
#social-link .fa:hover {
    background:transparent;
    color: #fff;
    border-color: #fff;
}

.cta-areas{
    background: #fff;
}
.error {
    color: #dc3545;
  }

.breadcrumbs{
    background: aliceblue;
    padding: 10px 0;
    margin: 10px 0 0;
}


/*************.masonry-galery *****/
.masonry-gallery{
    transform: translate3d(0, -25px, 0);
}
.single-blog-masonary{
    padding: 0 7vw;
}
#masonry-gallery a {
    color: var(--primaryText);
    text-decoration: none;
    display: block;
  }
.masonry-items {
    background: var(--white);
    box-shadow: 5px 5px var(--lightBg);
}

.masonry-items .items-content{
    margin-top: -40px;
}
.masonry-items .items-content .feature-card.feature-tab{
    padding: 15px 30px;
    position: relative;
}
.masonry-items .main-masonry-img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 200px;
}
.feature-card {
    text-align: center;
}
.feature-card {
    position: relative;
}
.feature-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    border: 2px solid;
    border-color:var(--primary);
    left: 10px;
}
.feature-card .card-title{
    color:var(--firstTitle);
    text-transform: uppercase;
    font-weight:600;
    font-size: 14px;
    text-decoration: none;
    margin: 5px 0;
}
.feature-card h5{
    font-size: 18px;
    font-weight: 700;
}
.feature-card:hover .feature-card h2{
    text-decoration: underline;
}
.feature-card .card-by {
    font-size: 12px;
}    
.feature-card .card-by span{
    font-weight: 700;
    text-transform: uppercase;
}

.feature-card.secondary{
    background:var(--secondBg);
}
.feature-card.secondary::before {
    content: "";
    border-color:var(--secondBorder);
}
.feature-card.secondary .card-title{
    color:var(--secondTitle);
}

.feature-card.tertiary{
    background:var(--tertiary);
}
.feature-card.tertiary::before {
    content: "";
    border-color:var(--greend);
}
.feature-card.tertiary.card-title{
    color:var(--thirdTitle);
}

.feature-card-img:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background: linear-gradient(334.89deg, var(--firstBorder) 0,#faede7 100%);
    opacity: 0.2;
}
.feature-card-img.secondary:before {
    background: linear-gradient(334.89deg, var(--secondBorder) 0,#faede7 100%);
}

  .feature-card.feature-tab::before {
    content: "";
    top: 0px;
    border: none;
    left: 0px;
  }
  .feature-card.feature-tab .feature-card-img::before {
    background:var(--lightBg);
    opacity: 1;
    border-radius: 50%;
    outline: 5px solid #fff;
    z-index: 0;
  }
  .blog-title-with-border {
    background: linear-gradient(0deg, #ebf8ff 50%, transparent 50%);
    display: inline;
    font-weight: 600;
}
.blog-title-with-border-1 {
    background: linear-gradient(0deg, #ebf8ff 50%, transparent 50%);
    display: inline;
    font-weight: 600;
    background: linear-gradient(0deg, #feead7 50%, transparent 50%);
}
.single-blog h2 {
    font-size: 26px;
    font-weight: 400;
    color: #5b5b5b;
}
.single-blog  .publish-details {
    margin: 10px 0;
    font-size: 14px;
}
.single-blog .text-only {
    text-align: justify;
}
.special-box-with-li {
    border: 2px solid #ebf8ff;
    box-shadow: 3px 3px 0px #f1f1f1;
    padding: 30px;
}
.special-box-heading {
    font-family: serif;
    font-weight: 600;
}
.special-box-with-li li {
    list-style: disc;
    margin: 15px 0;
}
.single-blog .blog-section-img img {
    height: 200px;
    object-fit: cover;
    clip-path: circle(51% at 48% 70%);
    filter: saturate(0.4);
}
.blog-title-with-border-2 {
    background: linear-gradient(0deg, #ebf8ff 50%, transparent 50%);
    display: inline;
    font-weight: 600;
    background: linear-gradient(0deg, #e4ffef 50%, transparent 50%);
}
.tag-cloud-ul {
    padding: 10px 1.5rem;
}
.tag-cloud-ul a {
    display: inline-block;
    padding: 7px 15px;
    margin: 0 10px;
    position: relative;
    color: #000;
    text-decoration: none;
}
.tag-cloud-ul a:first-child {
    margin-left: 0;
}
.tag-cloud-ul a::before, .tag-cloud-ul a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skewX(-15deg);
    left: 0;
    top: 0;
    z-index: -1;
} 
.tag-cloud-ul a::before {
    background: #dee9ff;
    
}
.tag-cloud-ul a::after{
    outline: 1px solid #2a71ff;
    left: 5px;
    top: 5px;
} 
.tag-cloud-ul a:nth-child(2n+2):before {
    background: #ebf8ff;
}
.tag-cloud-ul a:nth-child(2n+2):after {
    outline: 1px solid var(--primary);
}

.tag-cloud-ul a:nth-child(2n+3):before {
    background: var(--secondBg);
}
.tag-cloud-ul a:nth-child(2n+3):after {
    outline: 1px solid var(--secondBorder);
}
.tag-cloud-ul a:nth-child(2n+2):before {
    background: #ebf8ff;
}
.tag-cloud-ul a:nth-child(2n+2):after {
    outline: 1px solid var(--primary);
}
